/* CSS for website */
h1 {
    color: #ffffff;
    background: #546e7a;
	text-align: center;
}

table {
    text-align: center;
}

td, th {
	padding: 15px 5px;
	display: table-cell;
	vertical-align: center;
	border-radius: 2px; 
}
